# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
*.log
.cache/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Tools
.playwright/
playwright-report/
test-results/

screenshots/*
!screenshots/.gitkeep
